@use "../abstracts" as *;
@use "../utils" as *;

.button {
  display: block;
  padding: rem(23) rem(23);
  max-width: fit-content;
  width: max-content;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: -1px 3px 3px 1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
  line-height: 0;
  font-size: rem(14);
  font-weight: 500;
  &:visited {
    color: unset;
  }
  &__primary {
    background-color: $soft-red;
    color: $white !important;
    &:hover {
      background-color: $white;
      outline: $soft-red 0.18rem solid;
      color: $soft-red !important;
    }
  }

  &__secondary {
    color: $white !important;
    background-color: $soft-blue;
    &:hover {
      background-color: $white;
      outline: $soft-blue 0.18rem solid;
      color: $soft-blue !important;
    }
  }

  &__third {
    color: $gravish-blue !important;
    background-color: #f6f6f7;

    &:hover {
      background-color: $white;
      outline: $gravish-blue 0.18rem solid;
      color: $gravish-blue !important;
    }
  }
}
