@use "../abstracts" as *;
@use "../utils" as *;

.footer {
  background-color: $very-dark-blue;
  .layout {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    @include lg-min {
      display: flex;
      justify-content: space-between;
    }
  }
  &__navigation {
    display: grid;
    align-items: center;
    @include lg-min {
      display: flex;
    }
    gap: rem(66);
    padding: rem(30) 0;
    ul {
      gap: rem(45);
      display: grid;
      @include lg-min {
        display: flex;
      }
      li {
        align-self: center;
        list-style: none;
      }
      a {
        line-height: 0;
        text-decoration: none;
        &:hover {
          color: $soft-red !important;
        }
        &:visited {
          color: unset;
        }
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: rem(40);
    svg:hover > path {
      fill: $soft-red;
    }
    a {
      @include lg-max {
        text-align: center;
      }
      img {
        height: rem(26);
        width: rem(26);
      }
    }
  }
}
