
    $soft-blue:hsl(231, 69%, 60%);
    $soft-red: hsl(0, 94%, 66%);
    $gravish-blue:hsl(229, 8%, 60%); 
    $very-dark-blue:hsl(229, 31%, 21%);
    $white:#fcfcfc;
    $white-low-opacity:#fcfcfc33;
